<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="../build/forgotPassword.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    <title>Forgotten Password | Hamza App</title>
</head>

<body>

    <div class="main">
        <div class="container">

            <img id="lock-big" />

            <h2>Forgot Password?</h2>
            <p>You can reset your password here.</p>

            <div class="form-group">
                <img id="email-icon" />
                <input autofocus="true" type="email" class="form-control" id="email" placeholder="Email" />

            </div>

            <button class="btn">Reset Password</button>

        </div>
    </div>
    <script type="module" src="../build/forgotPassword.js"></script>

</body>