<html>
<title>Hamza App</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../build/home.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<body>
  <div class="background"></div>
  <div class="dropbox"></div>
  <div class="tooltip"><img class="logout" alt="logout" /><span class="tooltiptext">logout</span></div>
  </div>
  <nav class="more-information-nav">
    <table id="more-information-table">
      <thead>
        <tr class="table100-head">
          <th>Name</th>
          <th>Product</th>
          <th>Items</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody class="table-body"></tbody>
    </table>
  </nav>

  <nav class="accounts-id-nav">
    <table id="accounts-id-table">
      <thead>
        <tr class="table100-head">
          <th>Date</th>
          <th>Time</th>
          <th>Name</th>
          <th>Account</th>
          <th>Amount</th>

          <th></th>
        </tr>
      </thead>
      <tbody class="table-body"></tbody>
    </table>
  </nav>
  <main>
    <section class="convert-section">
      <div class="account-id">
        <img id="account-icon" />
        <input autofocus="true" id="account-id" placeholder="Account" />
        <img id="search-icon" />
      </div>

      <textarea class="convert-textarea"></textarea>
      <button class="btn">Convert</button>
    </section>
    <section class="information-section">
      <div class="today-block">
        <div class="information-section__title">
          <img id="today-icon" />
          <h1 class="information-title">Today</h1>
        </div>
        <hr />
        <div class="information-data">
          <img id="cart-icon" />
          <p id="today-quantity">0</p>
          <img id="price-icon" />
          <div class="price-handle">
            <p id="today-total-price">0</p>
            <p> $</p>
          </div>
        </div>
      </div>
      <div class="pending-block">
        <div class="information-section__title">
          <img id="time-icon" />
          <h1 class="information-title">Pending</h1>
        </div>
        <div class="more-info">
          <img class="more-info-image" />
        </div>
        <hr />
        <div class="information-data">
          <img id="cart-icon" />
          <p id="pending-quantity">0</p>
          <img id="price-icon" />
          <div class="price-handle">
            <p id="pending-total-price">0</p>
            <p> $</p>
          </div>
          <img class="download-image" />
        </div>
      </div>
    </section>

  </main>
  <script type="module" src="../build/home.js"></script>
</body>

</html>