<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="../build/login.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

  <title>Hamza App - Login</title>
</head>

<body>

  <div class="content">
    <div class="svg">
      <img alt="Image" id="svg" />
    </div>

    <div class="contents">

      <h3>Sign In</h3>
      <p>Hamza app helps you insert your specific pattern of data and connect
        it by google spreadsheet.</p>
      <form>
        <div class="form-group first">
          <img id="user-icon" />
          <input autofocus="true" type="email" class="form-control" id="username" placeholder="Username" />

        </div>
        <div class="form-group last">
          <img id="lock-icon" />

          <input type="password" class="form-control" id="password" placeholder="Password" />

        </div>
      </form>
      <input type="button" value="Log In" class="btn" />

      <div class="forgot-pass">
        <span><a href="/password/reset">Forgotten Password?</a></span>
      </div>

    </div>
  </div>

  <script type="module" src="../build/login.js"></script>
</body>

</html>