.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--white);
  z-index: -2;
}

.dropbox {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 2;
  opacity: 0;
  transition: 200ms opacity linear;
}

.more-information-nav {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background: var(--white);
  border-radius: 0.25rem;
  width: 40%;
  height: 100vh;
  opacity: 0;
  -webkit-animation: slideInFromRight 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: slideInFromRight 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s ease;
}

.accounts-id-nav {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: var(--white);
  border-radius: 0.25rem;
  width: 40%;
  height: 100vh;
  opacity: 0;
  -webkit-animation: slideInFromLeft 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: slideInFromLeft 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s ease;
}

main {
  display: flex;
}

/* left Side Start */
.convert-section {
  width: 50vw;
  height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.account-id {
  display: flex;
  align-items: center;
  width: 61%;
  height: 2.5rem;
  background: var(--shadow);
  padding: 1rem;
  border-radius: 0.25rem;
  justify-content: space-between;
}

.account-id input {
  border: none;
  background: var(--shadow);
  border-left: solid 1px #e9e9e9;
  border-right: solid 1px #e9e9e9;
  color: var(--mainText);
  border-radius: 0.25rem;
  font-size: 1rem;
  height: 2rem;
  margin: 0 0.7rem;
  padding: 0 0.7rem;
}

.account-id:focus-within {
  border: solid 1px var(--blocks);
  box-shadow: 0px 0px 1px 1px #c9c6fd;
}

.account-id input::placeholder {
  font-size: 0.9rem;
  color: #888;
}

.account-id input:focus {
  outline: none;
}

.account-id img {
  margin: 0 0.5rem;
}

.account-id img:hover {
  cursor: pointer;
}

.btn:hover {
  background: var(--redBg);
}

.convert-textarea {
  height: 70vh;
  background: var(--shadow);
  border-radius: 0.25rem;
  color: var(--mainText);
  font-family: inherit;
  border: none;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
}

.convert-textarea:focus {
  outline: none;
  border: solid 1px var(--blocks);
  box-shadow: 0px 0px 1px 1px #c9c6fd;
}

.convert-section .btn {
  background: var(--blocks);
  color: var(--white);
}

#accounts-id-table .btn {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  background-color: var(--red);
  color: var(--white);
}

.btn:hover {
  background-color: var(--background);
  color: var(--white);
}

.btn:focus-visible {
  outline: none;
}
/* left Side End */

/* ==================================================== */
/* Right Side Start */
.information-section {
  width: 50vw;
  height: 100vh;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  line-height: normal;
}

.today-block,
.pending-block {
  position: relative;
  width: 25vw;
  height: 35vh;
  background-color: var(--shadow);
  border-radius: 0.5rem;
  text-align: center;
  -webkit-animation: slideInFromRight 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: slideInFromRight 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  min-height: 15rem;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  border-top: solid 3px var(--blocks);
}
.more-info {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.more-info-image {
  cursor: pointer;
}

.information-section__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.information-title {
  grid-column: 2 span;
  color: #575a89;
  margin: 0;
  padding: 1rem;
  align-self: center;
  justify-self: center;
  font-weight: normal;
}

hr {
  background-color: var(--white);
  height: 2px;
  border: none;
}

.information-data {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  color: #888;
  font-size: 1.2rem;
  height: 23vh;
  align-items: center;
  justify-items: center;
}

.pending-block .information-data {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.price-handle {
  display: flex;
  align-items: center;
}

.download-image {
  grid-column: 2 span;
  align-self: flex-start;
  justify-self: center;
  cursor: pointer;
}

.download-image:hover,
.more-info-image:hover {
  -webkit-animation: wiggle 300ms 3;
  animation: wiggle 300ms 3;
}
/* Right Side End */

/* Table */
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: var(--white);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  position: relative;
  table-layout: fixed;
}

table thead tr {
  height: 60px;
  background: var(--blocks);
}
table tbody tr {
  height: 50px;
}
table thead {
  display: block;
}
table tbody {
  display: block;
  overflow: auto;
  height: 90vh;
}
table tbody tr:last-child {
  border: 0;
}

.table100-head th {
  font-size: 1.1rem;
  color: var(--white);
  line-height: 1.2;
  font-weight: normal;
  width: 25vw;
  min-width: 100px;
}

tbody tr:nth-child(even) {
  background-color: var(--shadow);
}

tbody tr {
  font-size: 0.9rem;
  color: var(--mainText);
  line-height: 1.2;
  font-weight: normal;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
}

table .column3 {
  width: 20vw;
  min-width: 100px;
  text-align: center;
}
