p {
  color: #b3b3b3;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none !important;
}

h2,
h3 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--black);
}

.content {
  display: flex;
  padding: 5rem 0;
}

#svg {
  width: 50vw;
  height: 75vh;
  margin: 5%;
}

.content .container {
  width: 50vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 10%;
}

.content .contents .form-group,
.content .bg .form-group {
  overflow: hidden;
  margin-bottom: 0;
  padding: 15px 15px;
  border-bottom: none;
  position: relative;
  background: #edf2f5;
  border-bottom: 1px solid #e6edf1;
}

.content .contents .form-group input,
.content .bg .form-group input {
  background: transparent;
}

.content .contents .form-group.focus {
  background: #fff;
}

.content .contents .form-control {
  border: none;
  padding: 0;
  font-size: 1rem;
  border-radius: 0;
  height: 3rem;
}

.content .contents .form-control:active,
.content .contents .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.content .contents .form-control::placeholder {
  font-size: 12px;
  color: #b3b3b3;
}

.content a {
  color: #888;
  text-decoration: underline;
}

.content .btn {
  background: var(--blocks);
  color: var(--black);
  margin: 1.5rem 0;
}

.content .btn:hover {
  background-color: var(--background);
  color: var(--white);
}

.content .forgot-pass {
  font-size: 14px;
  text-align: center;
}

.content .contents .first {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.content .contents .last {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  33% {
    transform: rotateZ(-10deg);
  }
  66% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}

@-webkit-keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  33% {
    transform: rotateZ(-10deg);
  }
  66% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}
